<% if user_signed_in? %>
<h1>Pin Up Some Pony Pics!</h1>
<% else %>
<div class="center hero-unit">
 <h1>Welcome To Pony Pinner!</h1>
  <p>Created by <a href="http://pistachiopony.com">Pistachio Pony</a></p>
<p>
	I wanted to practice my rails and create a Pinterest style application.
	Thanks for dropping by!
</p>
<p> <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %> 
 </p>

</div>
	
<% end %>