<h1>About</h1>
<p>This is a project I created to practice my Ruby On Rails.

I love drawing horses and I want to be able to have all the pony pics that I use for inspiration all in one place. Its too distracting to go onto pinterest or flicker. I start to look at other stuff and waste time browsing when I should be drawing. So I create this Pinterest Style Web App to have only pics of horses and ponies. Hope you enjoy and add to it!
</p>
<p>If you want to learn more about me, trot on over to my site <%= link_to"PistachioPony.com", "http://pistachiopony.com" %>
</p>
