<h1>About</h1>
<p>This is a project I created to practice my Ruby On Rails.
  <br/> 
I wanted to create a Pinterest style application that would aggregate photos of horses. 
  <br/> 
I love drawing horses and often have to search the web for different photos of horses to study.
  <br/>
This app will make it a lot easier to keep track of all the ponies I enjoy to look at and get inspiration from to draw. 
  <br/> 
</p>
<p>If you want to learn more about me, trot on over to my site <%= link_to"PistachioPony.com", "http://pistachiopony.com" %>
</p>
