<h1>Welcome To Ponies Pinterest!</h1>
<p>Created by <a href="http://pistachiopony.com">Pistachio Pony</a></p>
<p>
	I wanted to practice my rails and create a Pinterest style application.
	Thanks for dropping by!
</p>
<p>
	<a href="#">Sign Up Now!</a>
</p>

	
